body {
    margin:0;
    padding:0;
    font-family: "Lato"
  }
  .container-list {
    max-width: 1260px;
    margin: 1rem auto 1rem;
  }
 .title-list {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    color: #507C36;
    font-size: 2rem;
 }
 .container-name {
     width: 100%;
 }
 .text-name {
    background: #507C36;
    padding: 0.2rem 1rem;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
    border-radius: 4px;
    transition: opacity .4s;
    color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    height: 26px; 
 }
 .container-image {
    background: #454545;
    font-size: 1em;
    color: white;
    text-align: center;
    border: 1px solid #383838;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    margin: 0 1rem;
 }
 .root-container{
    padding: 2rem;
    max-width: 1260px;
    margin: 0 auto;

  }
  .stats-text {
      margin: .1rem 0;
  }
  .buttonBack {
    display: flex;
    width: 100%;
    justify-content: center;
}
.MuiTextField-root {
    width: 95%;
}
.search-box {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 1rem auto;

}
.fire {
    background-color: #f42;

}
.grass {
    background-color: #7c5;
  
}
.bug {
    background-color: #ab2;
}
.poison {
    background-color: #a59;
}
.flying {
    background-color: #89f;

}
.electric {
    background-color: #fc3;
}
.normal {
    background-color: #aa9;
}
.type {
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
    border-radius: 4px;
    display: block;
    width: 66px;
    transition: opacity .4s;
    color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    height: 26px; 
}
.water {
    background-color: #39f;
}
.fairy {
    background-color: #e9e;

}
.rock {
    background-color: #ba6;
}
.ground {
    background-color: #db5;
}
.ghost {
    background-color: #66b;
}
.dragon {
    background-color: #76e;
}